<form method="post">
    <div class="form-label-group">
        <input name='url' type="text" id="inputUrl" class="form-control" placeholder="Url address" required autofocus>
        <label for="inputUrl">Url address</label>
    </div>

    <input type='hidden' name='<?php echo $this->security->getTokenKey() ?>'
           value='<?php echo $this->security->getToken() ?>'/>

    <p><?php $this->flashSession->output() ?></p>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
</form>